<a href="https://colab.research.google.com/github/LucasLucena001/relatorio-fraudes/blob/main/relatorio_fraudes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/public_servant_purchases_new.csv')

In [ ]:
df.head()

,nome_do_funcionario,item_comprado,valor_em_real,data_da_compra
0,Amanda Jones,Copy Paper,227.00,2024-12-01 18:05:04
1,Patrick Kavuma,Counselling Services,88.00,2024-01-18 18:26:17
2,Daljit Singh,Tablet,1299.00,2024-06-12 09:05:57
3,"NARKOTA, ATEE",GASOLINA NATURAL ASASIN 100,17.60,2024-03-07 15:11:16
4,Cheryl Vile,Computer and accessories,2.81,2024-03-20 10:48:04

In [ ]:
def detectar_compras_duplicadas(df):
    duplicadas =  df[df.duplicated(subset=['nome_do_funcionario','valor_em_real'])]
    return duplicadas


print(detectar_compras_duplicadas(df))

     nome_do_funcionario           item_comprado  valor_em_real  \
4572              Julian  Service of parking lot           0.00
4826             Michael       Airsoft 123456789           1.15

          data_da_compra  hora_da_compra
4572 2024-08-18 10:24:32              10
4826 2024-12-13 16:37:43              16

In [ ]:
def verificar_valores_suspeitos(df):
  sus = df[df['valor_em_real'] > 1000]
  return sus

print(verificar_valores_suspeitos(df))

                 nome_do_funcionario  \
2                       Daljit Singh
16                      MARTIN LOUIS
23                        Jiang, Hui
33                     JAKE KOWALSKY
34    MARIA ANTONIETA GONZÁLEZ LUIJO
...                              ...
4986                   Ahmed Aljunid
4987                    Mrs. Yang Li
4992                  Hyeon-Soo, Joo
4998                   LAURA JACKSON
4999         Adebisi Adeleke Abiodun

                                          item_comprado  valor_em_real  \
2                                                Tablet        1299.00
16                                    Aluguel de Imóvel        3912.77
23                                         Plane ticket        1267.79
33                   Dell 13 Touchscreen Latitude E5470        1413.98
34         TV 157 CM LCD 1080p Full HD 40W 2 HDMI 1 VGA        3872.00
...                                                 ...            ...
4986                                          Iphone 12       10855.00
4987  Dell Inspiron 3553-N052BLK (Intel Core i5-5200...        2499.00
4992                                    AIR CONDITIONER        1191.00
4998                                      Half Pavement       13168.50
4999  Acquisition of 200000 litres of diesel for the...     2500000.00

           data_da_compra
2     2024-06-12 09:05:57
16    2024-12-18 12:14:32
23    2024-02-21 12:13:46
33    2024-03-13 12:29:57
34    2024-01-29 20:01:56
...                   ...
4986  2024-01-07 11:17:10
4987  2024-10-05 14:34:37
4992  2024-05-19 17:04:34
4998  2024-03-04 03:02:39
4999  2024-06-07 14:24:24

[929 rows x 4 columns]

In [ ]:
df['data_da_compra'] = pd.to_datetime(df['data_da_compra'])
df['hora_da_compra'] = df['data_da_compra'].dt.hour

def compras_fora_de_horario(df):
  fora_do_horario = df[(df['hora_da_compra'] < 6) | (df['hora_da_compra'] > 18)]
  return fora_do_horario

print(compras_fora_de_horario(df))

     nome_do_funcionario                  item_comprado  valor_em_real  \
5           PRITI SHARMA                      Furniture         260.00
6              Dennis S.                        Tapetes          13.00
8              Davinia A                       Congress         196.85
10        MRS DARLA LISA                       GASOLINA         139.00
14        Piseth Kimsung    RONALD MCDONALD HAPPY MEALS           5.00
...                  ...                            ...            ...
4974    Rejoice Olajuwon                Printer HP 1112         573.76
4981    Mohamed E. Maher  Purchase of medical equipment      134150.00
4993     Terry O\'Connor             PANCHO\'S MEXICANA          12.99
4995       Mrs. D Nelson                 Purchase Order          20.21
4998       LAURA JACKSON                  Half Pavement       13168.50

          data_da_compra  hora_da_compra
5    2024-03-24 01:10:00               1
6    2024-06-21 19:17:51              19
8    2024-09-25 02:27:23               2
10   2024-06-11 23:14:08              23
14   2024-01-01 19:02:00              19
...                  ...             ...
4974 2024-12-22 00:19:52               0
4981 2024-11-04 00:09:31               0
4993 2024-05-31 19:50:17              19
4995 2024-07-02 21:51:20              21
4998 2024-03-04 03:02:39               3

[883 rows x 5 columns]

In [ ]:
def organizar_por_servidor(df):
  dicionario = df.groupby('nome_do_funcionario').apply(lambda x: x.to_dict(orient='records'))
  return dicionario

dc= organizar_por_servidor(df)

print(dc)

nome_do_funcionario
"Gabriela Lopez"    [{'nome_do_funcionario': '"Gabriela Lopez"', '...
1020000000316105    [{'nome_do_funcionario': '1020000000316105', '...
143-38-1023         [{'nome_do_funcionario': '143-38-1023', 'item_...
17                  [{'nome_do_funcionario': '17', 'item_comprado'...
21785               [{'nome_do_funcionario': '21785', 'item_compra...
                                          ...
旭涛                  [{'nome_do_funcionario': '旭涛', 'item_comprado'...
梁 逸黎                [{'nome_do_funcionario': '梁 逸黎', 'item_comprad...
梁秉霖                 [{'nome_do_funcionario': '梁秉霖', 'item_comprado...
김진모                 [{'nome_do_funcionario': '김진모', 'item_comprado...
홍길동                 [{'nome_do_funcionario': '홍길동', 'item_comprado...
Length: 4717, dtype: object

<ipython-input-58-7ec6599858d5>:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  dicionario = df.groupby('nome_do_funcionario').apply(lambda x: x.to_dict(orient='records'))

In [ ]:
def gerar_relatorio(df):
  df_sem_nome = df['nome_do_funcionario'].isna()
  df_sem_nome = df[df_sem_nome]
  df_valor_alto = df[df['valor_em_real'] > 1000]
  df_fora_horario = df[(df['hora_da_compra'] < 6) | (df['hora_da_compra'] > 18)]

  compras_suspeitas = pd.concat([df_valor_alto, df_fora_horario, df_sem_nome])

  return compras_suspeitas

print(gerar_relatorio(df))

                 nome_do_funcionario  \
2                       Daljit Singh
16                      MARTIN LOUIS
23                        Jiang, Hui
33                     JAKE KOWALSKY
34    MARIA ANTONIETA GONZÁLEZ LUIJO
...                              ...
971                              NaN
1221                             NaN
2099                             NaN
3348                             NaN
4170                             NaN

                                     item_comprado  valor_em_real  \
2                                           Tablet        1299.00
16                               Aluguel de Imóvel        3912.77
23                                    Plane ticket        1267.79
33              Dell 13 Touchscreen Latitude E5470        1413.98
34    TV 157 CM LCD 1080p Full HD 40W 2 HDMI 1 VGA        3872.00
...                                            ...            ...
971                                           Auto      132000.00
1221                                     Hipotecas           7.00
2099                             Projeto 2019-3488          29.00
3348                    Bicho de Papel - Diferença          18.50
4170                                           NaN          34.99

          data_da_compra  hora_da_compra
2    2024-06-12 09:05:57               9
16   2024-12-18 12:14:32              12
23   2024-02-21 12:13:46              12
33   2024-03-13 12:29:57              12
34   2024-01-29 20:01:56              20
...                  ...             ...
971  2024-08-21 02:10:27               2
1221 2024-08-12 16:45:59              16
2099 2024-06-29 15:34:21              15
3348 2024-05-22 11:27:13              11
4170 2024-01-01 00:00:00               0

[1819 rows x 5 columns]

In [ ]:
if __name__ == "__main__":
    print("Iniciando detecção de fraudes...")
    gerar_relatorio(df)
    print("Detecção de fraudes concluída.")
    pdf_fraudes = gerar_relatorio(df).to_excel('relatorio_de_fraudes.xlsx', index=False)
    print("Relatório de fraudes gerado com sucesso.")

Iniciando detecção de fraudes...
Detecção de fraudes concluída.
Relatório de fraudes gerado com sucesso.